/* SignUp Form */
.signUpForm, .logInForm {
    height: 525px;
    width: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 56px;
    padding: 0 42px;
    background-color: #E2E2E2;
}

.signUpForm  h2 {
    font-size: 36px;
    color: #2565AE;
    margin-bottom: 16px;
}

.signUpForm input, .signUpForm button {
    padding: 12px 15px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-bottom: 14px;
}

.signUpForm button, .logInForm input[type="submit"] {
    margin-bottom: 0;
    background-color: #2565AE;
    color: #fff;
}

.signUpForm button:hover, .logInForm input[type="submit"]:hover {
    cursor: pointer;
}

.signUpForm p {
    font-size: 26px;
    margin-top: 33px;
}

.signUpForm p a {
    color: #2565AE;
    font-weight: bold;
}

.signUpForm p a:hover {
    text-decoration: underline;
}

/* LogIn Form */
.logInForm {
    height: 411px;
}

p.logInForm__error {
    margin-bottom: 4px;
    margin-top: 0;
    font-weight: bold;
    font-size: 24px;
    color: #FF6B00;
}

p.login-btn {
    margin-top: 20px;
    font-size: 20px;
}

.logInForm p a {
    color: #000;
    font-weight: 450;
}

.logInForm p a:hover {
    text-decoration: underline;
}

/* Reset Password Form */
.resetPasswordForm {
    height: 338px;
}

.resetPasswordForm h2 {
    margin-bottom: 8px;
}

.resetPasswordForm p {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 20px;
}