.detailed-content {
    margin-top: 70px;
}

.detailed-content__container {
    width: 900px;
}

.detailed-content__container h3 {
    font-size: 40px;
}

.detailed-content__sub-header {
    margin-top: 20px;
    margin-bottom: 32px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailed-content__sub-header-left {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.detailed-content__sub-header-right {
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.detailed-content__social-media {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailed-content__img-container {
    width: 900px;
    height: 400px;
}

.detailed-content__img-container img {
    height: 400px;
}

.detailed-content__body {
    padding: 30px 0;
}

.detailed-content__body p {
    margin-bottom: 10px;
    font-size: 18px;
}

.detailed-content__body p:last-child {
    margin-bottom: 0;
}

.detailed-content__comment {
    margin-top: 16px;
}

.detailed-content__comment p {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.detailed-content__comment textarea {
    width: 100%;
    padding: 14px 20px;
}