.signUpForm {
    height: 525px;
    width: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 56px;
    background-color: #E2E2E2;
}

.signUpForm  h2 {
    font-size: 36px;
    color: #2565AE;
    margin-bottom: 26px;
}

.signUpForm input, .signUpForm button {
    padding: 12px 15px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    width: 507px;
    margin-bottom: 14px;
}

.signUpForm button {
    margin-bottom: 0;
    background-color: #2565AE;
    color: #fff;
}

.signUpForm p {
    font-size: 26px;
    margin-top: 33px;
}

.signUpForm p a {
    color: #2565AE;
    font-weight: bold;
}

.signUpForm p a:hover {
    text-decoration: underline;
}